.box{
    height: 100px;
    width: 300px;
    background-color: pink;

    /* animation-name: widthAnimate;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal; */

    animation: widthAnimate 4s ease-in 0s infinite normal;
}

@keyframes widthAnimate{
    from{
        width: 20px;
        background-color: green;
        font-size: 20px;    
    }
    to{
        width: 400px;
        background-color: blueviolet;
        border-radius: 20%;
        font-size: 40px;
    }
}






